{% extends 'base.html.twig' %}

{% block title %}
    Sous-catégories
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-5 mt-5"> {{subCategory.name}} </h1>
    </div>

{% endblock %}